<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="arden2bytecodeeclipseplugin.launchconfig.Arden2ByteCodeLaunchConfiguration"
            id="arden2bytecodeeclipseplugin.launchMLM"
            modes="run, debug"
            name="Launch MLM"
            sourceLocatorId="arden2bytecodeeclipseplugin.MlmSourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="arden2bytecodeeclipseplugin.launchconfig.Arden2ByteCodeLaunchConfigurationTabGroup"
            id="arden2bytecodeeclipseplugin.launchconfig.Arden2ByteCodeLaunchConfigurationTabGroup"
            type="arden2bytecodeeclipseplugin.launchMLM">
         <launchMode
               description="Debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               mode="debug">
         </launchMode>
         <launchMode
               description="Run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="arden2bytecodeeclipseplugin.launchconfig.LaunchShortcut"
            id="arden2bytecodeeclipseplugin.launchShortcut"
            label="Medical Logic Module"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="arden2bytecodeeclipseplugin.launchconfig.isLaunchableMlm">
                     </test>
                  </iterate>
               </with>
            </enablement></contextualLaunch>
         <configurationType
               id="arden2bytecodeeclipseplugin.launchMLM">
         </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="arden2bytecodeeclipseplugin.launchconfig.LaunchableTester"
            id="arden2bytecodeeclipseplugin.launchableMlmPropertyTester"
            namespace="arden2bytecodeeclipseplugin.launchconfig"
            properties="isLaunchableMlm"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="arden2bytecodeeclipseplugin.debug.SourceLocator"
            id="arden2bytecodeeclipseplugin.MlmSourceLocator"
            name="MLM Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="arden2bytecodeeclipseplugin.breakpoints.ArdenSyntaxLineBreakpoint"
            id="arden2bytecodeeclipseplugin.lineBreakpoint"
            markerType="arden2bytecodeeclipseplugin.lineBreakpoint.marker">
      </breakpoint>
   </extension>
   <extension
         id="lineBreakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="arden2bytecodeeclipseplugin.breakpoints.ToggleBreakpointsTargetFactory"
            id="arden2bytecodeeclipseplugin.toggleTargetFactory">
         <enablement>
            <test
                  property="arden2bytecodeeclipseplugin.breakpoints.isMlmEditor">
            </test>
         </enablement>
      </toggleTargetFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="arden2bytecodeeclipseplugin.breakpoints.MlmEditorTester"
            id="arden2bytecodeeclipseplugin.isMlmEditorTester"
            namespace="arden2bytecodeeclipseplugin.breakpoints"
            properties="isMlmEditor"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="arden2bytecodeeclipseplugin.breakpoints.BreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="arden.xtext.ArdenSyntax"
            id="arden.xtext.ArdenSyntax.BreakpointRulerActions">
         <action
               label="Add Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="arden2bytecodeeclipseplugin.breakpoints.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>

</plugin>
